# First look up at the "House Price" data

In [129]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [130]:
df = pd.read_csv('/home/sodbo/work/kaggle/house-prices-advanced-regression-techniques/data/01_raw_data/train.csv')

In [131]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [132]:
which_numberic = df.dtypes == 'int64'

df_num = df[which_numberic.index[which_numberic]]

In [133]:
X_num = df_num[df_num.columns[0:df_num.columns.size-1]]

Y_num = df_num[df_num.columns[df_num.columns.size-1]]

In [134]:
X_num.head()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,1,60,8450,7,5,2003,2003,706,0,150,...,548,0,61,0,0,0,0,0,2,2008
1,2,20,9600,6,8,1976,1976,978,0,284,...,460,298,0,0,0,0,0,0,5,2007
2,3,60,11250,7,5,2001,2002,486,0,434,...,608,0,42,0,0,0,0,0,9,2008
3,4,70,9550,7,5,1915,1970,216,0,540,...,642,0,35,272,0,0,0,0,2,2006
4,5,60,14260,8,5,2000,2000,655,0,490,...,836,192,84,0,0,0,0,0,12,2008

In [135]:
Y_num.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [136]:
# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(X_num, Y_num)

# Make predictions using the testing set
diabetes_y_pred = regr.predict(X_num)

# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(Y_num, diabetes_y_pred))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(Y_num, diabetes_y_pred))

Coefficients:
 [-1.57033613e+00 -1.62043583e+02  3.93529968e-01  1.78673614e+04
  4.43834247e+03  3.46599894e+02  1.36095592e+02  1.18143776e+01
 -2.77238271e+00  7.81550249e-01  9.82354511e+00  1.91434191e+01
  1.90537801e+01 -6.60364522e+00  3.15935539e+01  8.55978466e+03
  2.41313501e+03  3.60827325e+03 -1.28944249e+03 -1.05114341e+04
 -1.31089080e+04  5.16033233e+03  3.56475962e+03  1.06671300e+04
  1.46195515e+00  2.61687577e+01 -5.62631378e+00  8.67404295e+00
  1.76644445e+01  5.78098509e+01 -4.15085658e+01 -8.98520043e-01
 -1.07892813e+02 -7.52141893e+02]
Mean squared error: 1204770040.11
Variance score: 0.81